@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@theme static {
  --color-theme-green: #02594e;
  --color-bg-color: #fffbf1;
  --color-card-bg: rgb(242, 242, 242);
  --color-description: #4c6763;
  /* --color-project-bg-color: #121212;
  --color-project-card-bg-color: #121212; */
  --font-dm-serif: "Raleway";
  --font-montserrat: "Montserrat";
  --font-dm-sans: "DM Sans";
}

.grid-bg {
  background-image:
    linear-gradient(rgba(148, 163, 184, 0.08) 1.5px, transparent 1px),
    linear-gradient(90deg, rgba(148, 163, 184, 0.08) 1.5px, transparent 1px);
  background-size: 40px 40px;
}
.large-grid-bg {
  background-image:
    linear-gradient(rgba(148, 163, 184, 0.08) 1.5px, transparent 1px),
    linear-gradient(90deg, rgba(148, 163, 184, 0.08) 1.5px, transparent 1px);
  background-size: 150px;
}

@font-face {
  font-family: "sunday";
  src: url("./assets/fonts/Sundayromanticdemo-Wy7a9.otf");
}

/* global.css */
.dots-bg {
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.15) 1px,
    transparent 1px
  );
  background-size: 20px 20px;
}
.arc {
  position: absolute;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  z-index: 10;
}

/* ORANGE */
.arc-orange {
  border: 20px solid #ff6b57;
  border-left-color: transparent;
  border-bottom-color: transparent;
  transform: translate(50%, -50%);
}

/* GREEN */
.arc-green {
  border: 20px solid #00a884;
  border-right-color: transparent;
  border-top-color: transparent;
  transform: translate(-38%, 38%);
}

.inner-container {
  width: 100%;
  max-width: 100%;
}

@media (min-width: 640px) {
  .inner-container {
    max-width: 48rem; /* 3xl */
  }
}

@media (min-width: 1024px) {
  .inner-container {
    max-width: 56rem; /* 4xl */
  }
}

@media (min-width: 1280px) {
  .inner-container {
    max-width: 72rem; /* 6xl */
  }
}

.outer-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
