@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
// dm serif display to use
// montserrat to use

* {
  box-sizing: border-box;
}

@theme {
  --color-theme-green: #265f56;
  --color-bg-color: #fffbf1;
  --font-dm-serif: "DM Serif Display";
  --font-montserrat: "Montserrat";
  --font-dm-sans: "DM Sans";
}

.grid-bg {
  background-color: #fffbf1;

  background-image:
    linear-gradient(rgba(148, 163, 184, 0.08) 1.5px, transparent 1px),
    linear-gradient(90deg, rgba(148, 163, 184, 0.08) 1.5px, transparent 1px);
  background-size: 50px 50px;
}

@font-face {
  font-family: "sunday";
  src: url("./assets/fonts/Sundayromanticdemo-Wy7a9.otf");
}
